.font {
    color: #888;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    color: #fff;
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}


/* header */

.title {
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 3.8em;
}

.subtitle {
    display: block;
    font-weight: bold;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.41);
    margin-bottom: 1.5em;
}


/* layout cards */

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0em 5em;
    flex-wrap: wrap;
    width: 90%;
    margin: 1em auto;
}


/* card */

.card {
    flex: 1;
}

.card>p {
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    margin: 0.5em auto 0 auto;
    padding: 0.5em 0;
    background-color: rgb(0, 0, 0);
}

.logo {
    height: 6.5em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 50%;
}


/* loading */

.loading,
.error-msg {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: slateblue;
    width: fit-content;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
}


/* error msg */

.error-msg {
    background-color: rgb(235, 57, 57);
}

html,
body {
    background-color: #242424;
    font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 51%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.container {
    position: relative;
    min-width: 550px;
    min-height: 400px;
}

.card {
    width: 550px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h1 {
    text-align: center;
    color: black;
    font-size: 2.5em;
    line-height: 1.1;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dc0028, #6f0219);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    text-wrap: wrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 400px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.card .additional .coords {
    margin: 1rem 2rem;
    color: #fff;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}